<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> Demo </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="sitemap"> Sitemap </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Session
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/login"> Login </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <p class="ms-3 my-1 text-info">Themes</p>
            </li>
            <li>
              <button
                (click)="setTheme('dark')"
                class="dropdown-item"
                [class]="theme === 'dark' ? 'active' : ''"
              >
                <i class="fa-solid fa-moon"></i>
                Dark Theme
              </button>
            </li>
            <li>
              <button
                (click)="setTheme('light')"
                class="dropdown-item"
                [class]="theme === 'light' ? 'active' : ''"
              >
                <i class="fa-solid fa-sun"></i>
                Light Theme
              </button>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/logout"> Logout </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav
  id="sidebar-left"
  class="navbar-collapse collapse collapse-left border-dark border-right shadow"
>
  <button
    class="navbar-toggler float-right mt-2 mr-n2"
    type="button"
    data-toggle="collapse"
    data-target="#sidebar-left"
    aria-controls="sidebar-left"
    aria-expanded="false"
    aria-label="Toggle left sidebar navigation"
  >
    <span class="fas fa-times"></span>
  </button>
</nav>

<nav
  id="sidebar-right"
  class="navbar-collapse collapse collapse-right border-dark border-left shadow"
>
  <button
    class="navbar-toggler mt-2 ml-n2"
    type="button"
    data-toggle="collapse"
    data-target="#sidebar-right"
    aria-controls="sidebar-right"
    aria-expanded="false"
    aria-label="Toggle right sidebar navigation"
  >
    <span class="fas fa-times"></span>
  </button>
</nav>

<main role="main" class="flex-shrink-0">
  <router-outlet />
</main>

<footer class="mt-auto py-3">
  <nav class="nav nav-pills flex-column flex-sm-row">
    <!-- <span class="flex-sm-fill text-center navbar-text"> </span> -->
    <!-- <span class="flex-sm-fill text-center navbar-text">
      <a href="/sitemap">Sitemap</a>
    </span> -->
  </nav>
</footer>
