<div class="container">
  <h1>Sitemap</h1>
  <div class="row justify-content-center">
    <div class="card my-1">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="card">
              <div class="card-header">
                <h2>Authentication</h2>
                Handling your account credentials
                <small class="text-muted">
                  authentication, registration and passwords
                </small>
              </div>
              <ul class="list-group list-group-flush">
                <a href="/login" class="list-group-item list-group-item-action">
                  Login
                </a>
                <a
                  href="/logout"
                  class="list-group-item list-group-item-action"
                >
                  Logout
                </a>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card">
              <div class="card-header">
                <h2>CMS</h2>
                Content Management System
                <small class="text-muted">pages and snippets</small>
              </div>
              <ul class="list-group list-group-flush">
                <a href="/pages" class="list-group-item list-group-item-action">
                  Pages
                </a>
                <a
                  href="/snippets"
                  class="list-group-item list-group-item-action"
                >
                  Snippets
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
